body {
		margin:0;
		padding:0;
		background-color: #242424;
		margin:auto;
	}

#gestionCss{
	float:left;
	width:10%;
	text-align:right;
	margin-right: 1%;
	border: double;
}

#listeEquipe{
	float:left;
	border: double;
	box-shadow: 3px 3px 0px black;
	padding: 0.5% 0.5% 0.5% 0.5%;
	margin-left: 1%;
}

#listeMatch{
	float:left;
	margin-left: 2%;
	border: double;
	box-shadow: 3px 3px 0px black;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

.choix{
    border: none;
    background-image: linear-gradient(to top, #C43E2F, #D16428);
    box-shadow: 0 0 4px #D16428;
    color: white;
    padding: 5px;
    width: 100%;
    text-align:center;
    font-weight: bold;
		margin-bottom: 4px;
}

.teamlist {
		columns: 4 200px;
		column-gap: 4px;
		-moz-column-gap: 2px;
		-moz-column-count: 4;
		-moz-column-width: 200px;
}

.choicecontainer {
	display: block;
	max-width: 1200px;
	margin-top: 15px;
	background-color:#F1F1F1;
	padding: 4px;
}

.team {
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor: pointer; /* Pour que la souris soit un pointeur en gros ça change la forme */
	display: inline-block;
	height: 40px;
	min-width: 200px;
	width: 100%;
	border: solid 1px #597fa3;
	text-align:center;
	background-color: #597fa3;
	opacity: 0.6; /* L'opacité est a 70% de base ==> voir hover */
	color: #FFF;
	border-radius: 3px; /* Les coins en arrondi */
}

.team:hover, .team.selected { /* Quand on passe sur le nom des équipes, ça fait ceci : */
	color: #FFF;
	text-decoration:none;
	opacity: 1;
}
